
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Send New Message</h2>
<br />
<form method="post">
    <label>Receiver E-mail:</label>
    <input type="text" class="form-control" name="ReceiverMail" />
    <br />
    <label>Subject:</label>
    <input type="text" class="form-control" name="MessageSubject" />
    <br />
    <label>Message:</label>
    <textarea cols="2" rows="5" class="form-control" name="MessageContent"></textarea>
    <br />
    <button class="btn btn-warning">Send</button>

</form>

