
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Membership Information</h2>
<br />
<h4>Welcome! @ViewBag.name @ViewBag.surname</h4>
<h4>Information of ID: @ViewBag.id</h4>

