@model DemoUpSchoolProject.Models.Entities.TblAbout
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
  <label>Name Surname</label> 
    @Html.TextBoxFor(x=>x.NameSurname,new { @class ="form-control"})
    <br />
    <label>Title</label>
    @Html.TextBoxFor(x=>x.Title,new { @class ="form-control" })
    <br />
    <label>Description</label>
    @Html.TextBoxFor(x=>x.Description,new { @class="form-control"})
    <br />
    <label>Image Url</label>
    @Html.TextBoxFor(x=>x.ImageUrl,new { @class="form-control" })
    <br />
    <button class="btn btn-primary">Save</button>
</form>

