@model DemoUpSchoolProject.Models.Entities.TblServices
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    @*<label>Service ID</label>*@
    @Html.HiddenFor(x => x.ServicesID,new { @class = "form-control" })
    <br />
    <br />
    <label>Service Title</label>
    @Html.TextBoxFor(x => x.Title,new { @class = "form-control" })
    <br />
    <br />
    <button class="btn btn-success">Update</button>
</form>

